# OS X
.DS_Store

# auxoft-flow
.afconf
af
patches/
bin/auxoft-flow

# dev hooks
/bin/hooks/run
/bin/hooks/build
/bin/hooks/build-check
/bin/hooks/version-get
/bin/hooks/version-set
/bin/hooks/apply-ignorelist
